body {
    background: url("images/canyons.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#heading {
    font-size: 60px;
    margin-top: 10px;
}

#bg-img {
    position: fixed;
    z-index: -1;
    opacity: .5;
}

#main-container {
    background-color: rgb(33, 33, 33, .7);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Paytone One', sans-serif;
    border: solid white 1px;
    border-radius: 10px;
    display: none;
}

#quiz-container {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(33, 33, 33, .7);
    color: white;
    font-family: 'Paytone One', sans-serif;
    border: solid white 1px;
    border-radius: 10px;
    display: none;
    list-style-type: none;
}

#characters-img {
    border: solid white 1px;
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bwbtn {
    display: block;
    background-color: white;
    color: black;
    margin-bottom: 15px;
}

.bwbtn:hover {
    background-color: black;
    color: white;
}

.bwbtn-begin {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
}

.bwbtn-begin:hover {
    background-color: black;
    color: white;
}

.bwbtn-restart {
    display: block;
    margin: 20px;
    background-color: white;
}

.bwbtn-restart:hover {
    background-color: black;
    color: white;
}

.slide {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    display: none;
}

.active-slide {
    opacity: 1;
    z-index: 2;
    display: inline-block;
}

.quiz-container {
    position: relative; 

}

#quiz {
    position: relative;
}

input {
    display: none;
}

#results {
    display: none;
}

#restart {
    display: none;
}

.img-slide {
    border: solid white 1px;
    border-radius: 10px;
}

#current-question {
    margin: 15px;
}

#character-heading {
    font-size: 60px;
    margin-top: 10px;
    margin: 20px;
}

#quote {
    margin-top: 10px;
    margin-left: 75px;
    margin-right: 75px;
    font-size: 17px;
}

#description {
    margin-top: 10px;
    margin-left: 75px;
    margin-right: 75px;
    font-size: 18px;
}